<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改发送失败记录')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-fail-edit" th:object="${trxExchangeFail}">
            <input name="idTrxExchangeFail" th:field="*{idTrxExchangeFail}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">转出账户：</label>
                <div class="col-sm-8">
                    <input name="fromAddress" th:field="*{fromAddress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">转入账户：</label>
                <div class="col-sm-8">
                    <input name="toAddress" th:field="*{toAddress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">实际出账账户：</label>
                <div class="col-sm-8">
                    <input name="accountAddress" th:field="*{accountAddress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">单价：</label>
                <div class="col-sm-8">
                    <input name="price" th:field="*{price}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单hash：</label>
                <div class="col-sm-8">
                    <input name="trxTxId" th:field="*{trxTxId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">笔数：</label>
                <div class="col-sm-8">
                    <select name="tranferCount" class="form-control m-b" th:with="type=${@dict.getType('sys_transfer_number')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{tranferCount}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">业务类型：</label>
                <div class="col-sm-8">
                    <select name="energyBusiType" class="form-control m-b" th:with="type=${@dict.getType('sys_energy_busi_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{energyBusiType}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">转入金额：</label>
                <div class="col-sm-8">
                    <input name="trxAmount" th:field="*{trxAmount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">转入单位：</label>
                <div class="col-sm-8">
                    <select name="trxAmountUnit" class="form-control m-b" th:with="type=${@dict.getType('sys_monitor_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{trxAmountUnit}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">兑换支出能量：</label>
                <div class="col-sm-8">
                    <input name="delegateAmountTrx" th:field="*{delegateAmountTrx}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资源类型：</label>
                <div class="col-sm-8">
                    <select name="resourceCode" class="form-control m-b" th:with="type=${@dict.getType('sys_trx_exchange')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{resourceCode}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">锁定周期：</label>
                <div class="col-sm-8">
                    <select name="lockPeriod" class="form-control m-b" th:with="type=${@dict.getType('sys_lock_period')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{lockPeriod}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">补偿状态：</label>
                <div class="col-sm-8">
                    <select name="delegateStatus" class="form-control m-b" th:with="type=${@dict.getType('sys_delegate_status')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{delegateStatus}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">笔数计算规则：</label>
                <div class="col-sm-8">
                    <select name="calcRule" class="form-control m-b" th:with="type=${@dict.getType('sys_transaction_count_calc_rule')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{calcRule}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "trx2Energy/fail";
        $("#form-fail-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-fail-edit').serialize());
            }
        }
    </script>
</body>
</html>