<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('发送失败记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>转出账户：</label>
                                <input type="text" name="fromAddress"/>
                            </li>
                            <li>
                                <label>订单hash：</label>
                                <input type="text" name="trxTxId"/>
                            </li>
                            <li>
                                <label>补偿状态：</label>
                                <select name="delegateStatus" th:with="type=${@dict.getType('sys_delegate_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>创建时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="trx2Energy:fail:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="trx2Energy:fail:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="trx2Energy:fail:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="trx2Energy:fail:export">
                    <i class="fa fa-download"></i> 导出
                </a>-->
                <a class="btn btn-danger multiple disabled" onclick="$.table.completeTask()" shiro:hasPermission="trx2Energy:fail:edit">
                    <i class="fa fa-edit"></i> 批量补偿
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('trx2Energy:fail:edit')}]];
        var removeFlag = [[${@permission.hasPermi('trx2Energy:fail:remove')}]];
        var tranferCountDatas = [[${@dict.getType('sys_transfer_number')}]];
        var energyBusiTypeDatas = [[${@dict.getType('sys_energy_busi_type')}]];
        var trxAmountUnitDatas = [[${@dict.getType('sys_monitor_type')}]];
        var resourceCodeDatas = [[${@dict.getType('sys_trx_exchange')}]];
        var lockPeriodDatas = [[${@dict.getType('sys_lock_period')}]];
        var delegateStatusDatas = [[${@dict.getType('sys_delegate_status')}]];
        var calcRuleDatas = [[${@dict.getType('sys_transaction_count_calc_rule')}]];
        var prefix = ctx + "trx2Energy/fail";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                completeTaskUrl: prefix + "/completeTask",
                modalName: "发送失败记录",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'idTrxExchangeFail',
                    title: '主键id',
                    visible: false
                },
                {
                    field: 'fromAddress',
                    title: '转出账户',
                    formatter: function (value, row, index) {
                        return "<a href='https://www.oklink.com/zh-hans/trx/address/" + value + "' target='_blank'>" + value + "</a>";
                    }
                },
                {
                    field: 'toAddress',
                    title: '转入账户',
                    formatter: function (value, row, index) {
                        return "<a href='https://www.oklink.com/zh-hans/trx/address/" + value + "' target='_blank'>" + value + "</a>";
                    }
                },
                {
                    field: 'accountAddress',
                    title: '实际出账账户',
                    visible: false
                },
                {
                    field: 'price',
                    title: '单价'
                },
                {
                    field: 'trxTxId',
                    title: '订单hash',
                    formatter: function (value, row, index) {
                        return "<a href='https://www.oklink.com/zh-hans/trx/address/" + value + "' target='_blank'>" + value + "</a>";
                    },
                    visible: false
                },
                {
                    field: 'tranferCount',
                    title: '笔数',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(tranferCountDatas, value);
                    }
                },
                {
                    field: 'energyBusiType',
                    title: '业务类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(energyBusiTypeDatas, value);
                    }
                },
                {
                    field: 'trxAmount',
                    title: '转入金额',
                    formatter: function (value, row, index) {
                        if (value == null) {
                            return value;
                        }
                        return value + ' ' + row['trxAmountUnit'];
                    }
                },
                {
                    field: 'trxAmountUnit',
                    title: '转入单位',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(trxAmountUnitDatas, value);
                    },
                    visible: false
                },

                {
                    field: 'resourceCode',
                    title: '资源类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(resourceCodeDatas, value);
                    }
                },
                {
                    field: 'lockPeriod',
                    title: '锁定周期',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(lockPeriodDatas, value);
                    }
                },
                {
                    field: 'delegateStatus',
                    title: '补偿状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(delegateStatusDatas, value);
                    }
                },
                {
                    field: 'calcRule',
                    title: '笔数计算规则',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(calcRuleDatas, value);
                    }
                } ,  {
                        field: 'createTime',
                        title: '创建时间'
                    },
                    {
                        field: 'updateTime',
                        title: '更新时间'
                    }/*,
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.idTrxExchangeFail + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.idTrxExchangeFail + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }*/]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>