<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('WS短信任务配置列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>任务名称：</label>
                                <input type="text" name="taskName"/>
                            </li>
                            <li>
                                <label>任务状态：</label>
                                <select name="taskStatus" th:with="type=${@dict.getType('sys_sms_task_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>创建时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="sms:task:ws:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary multiple disabled" onclick="$.operate.editStatus()" shiro:hasPermission="sms:task:ws:edit">
                    <i class="fa fa-edit"></i> 批量修改
                </a>
       <!--         <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="sms:task:ws:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="sms:task:ws:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-warning single disabled" onclick="$.table.exportExcelTaskDetail()" shiro:hasPermission="sms:task:ws:export">
                    <i class="fa fa-edit"></i> 下载任务明细
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.table.completeTask()" shiro:hasPermission="sms:task:ws:export">
                    <i class="fa fa-edit"></i> 强制完成
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('sms:task:ws:edit')}]];
        var removeFlag = [[${@permission.hasPermi('sms:task:ws:remove')}]];
        var smsBusiTypeDatas = [[${@dict.getType('sys_sms_busi_type')}]];
        var smsContentTypeDatas = [[${@dict.getType('sys_sms_content_type')}]];
        var taskStatusDatas = [[${@dict.getType('sys_sms_task_status')}]];
        var prefix = ctx + "sms/task/ws";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                updateStatusUrl: prefix + "/update/{ids}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                exportTaskDetailUrl: prefix + "/exportTaskDetail/{id}",
                completeTaskUrl: prefix + "/completeTask",
                modalName: "WS短信任务配置",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'idSmsTask',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'taskName',
                    title: '任务名称'
                },
                    {
                        field: 'totalCount',
                        title: '总量'
                    },{
                        field: 'successCount',
                        title: '成功个数'

                    },{
                        field: 'preSummary',
                        title: '预估金额'

                    },
                {
                    field: 'smsBusiType',
                    title: '短信类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(smsBusiTypeDatas, value);
                    },
                    visible: false
                },
                {
                    field: 'price',
                    title: '单价'
                },
                {
                    field: 'taskBeginTime',
                    title: '任务开始时间'
                },
                    {
                        field: 'completeTime',
                        title: '任务完成时间'
                    },
                {
                    field: 'fileName',
                    title: '物料名称',
                    visible: false
                },
                {
                    field: 'filePath',
                    title: '物料文件下载地址',
                    visible: false
                },
                {
                    field: 'smsContentType',
                    title: '内容类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(smsContentTypeDatas, value);
                    },
                    visible: false
                },
                {
                    field: 'taskStatus',
                    title: '任务状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(taskStatusDatas, value);
                    }
                },
                {
                    field: 'successRate',
                    title: '成功率',
                    visible: false
                },

                {
                    field: 'issueCount',
                    title: '物料总数'
                },
                {
                    field: 'createBy',
                    title: '创建者',
                    visible: false
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'updateBy',
                    title: '更新者',
                    visible: false
                },
                {
                    field: 'updateTime',
                    title: '更新时间',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.idSmsTask + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.idSmsTask + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>