<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('监听账户入账列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>监听地址：</label>
                                <input type="text" name="monitorAddress"/>
                            </li>
                            <li>
                                <label>出账地址：</label>
                                <input type="text" name="accountAddress"/>
                            </li>
                           <!-- <li>
                                <label>单位：</label>
                                <input type="text" name="price"/>
                            </li>-->
                            <li>
                                <label>是否有效：</label>
                                <select class="form-control" name="isValid" th:with="type=${@dict.getType('sys_yes_no')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>监听类型：</label>
                                <select class="form-control" name="monitorType" th:with="type=${@dict.getType('sys_monitor_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>创建时间：</label>
                                <input type="text" class="time-input" placeholder="请选择创建时间" name="fcd"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="account:monitor:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="account:monitor:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="account:monitor:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="account:monitor:export">
                    <i class="fa fa-download"></i> 导出
                </a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('account:monitor:edit')}]];
        var removeFlag = [[${@permission.hasPermi('account:monitor:remove')}]];
        var prefix = ctx + "account/monitor";
        var datas = [[${@dict.getType('sys_yes_no')}]];
        var monitorTypeDatas = [[${@dict.getType('sys_monitor_type')}]];
        var apiKeyDatas = [[${@dict.getType('sys_tron_api_key')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "监听账户入账",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'idMonitorAddress',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'monitorAddress',
                    title: '监听地址'
                },
                {
                    field: 'accountAddress',
                    title: '出账地址'
                },
                {
                    field: 'price',
                    title: '单价'
                },
                {
                    field: 'monitorType',
                    title: '监听类型',
                    formatter: function(value, item, index) {
                        return $.table.selectDictLabel(monitorTypeDatas, item.monitorType);
                    }
                },
                    {
                        field: 'apiKey',
                        title: 'API_KEY',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(apiKeyDatas, value);
                        }
                    },
                {
                    field: 'isValid',
                    title: '是否有效',
                    formatter: function(value, item, index) {
                        return $.table.selectDictLabel(datas, item.isValid);
                    }
                },
                    {
                        field: 'fcd',
                        title: '创建时间'
                    },
                    {
                        field: 'fcu',
                        title: '创建用户'
                    },
                    {
                        field: 'lcd',
                        title: '更新时间'
                    },
                    {
                        field: 'lcu',
                        title: '更新用户'
                    },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.idMonitorAddress + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.idMonitorAddress + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>