<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('错误日志列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>地址：</label>
                            <input type="text" name="address"/>
                        </li>
                        <li>
                            <label>交易id：</label>
                            <input type="text" name="trxId"/>
                        </li>
                        <li>
                            <label>其他id：</label>
                            <input type="text" name="otherId"/>
                        </li>
                        <li>
                            <label>发生场景：</label>
                            <input type="text" name="errorCode"/>
                        </li>
                        <li>
                            <label>创建时间：</label>
                            <input type="text" class="time-input" placeholder="请选择创建时间" name="fcd"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="monitor:err:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="monitor:err:edit">
                <i class="fa fa-edit"></i> 修改
            </a>-->
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="monitor:err:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
     <!--       <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="monitor:err:export">
                <i class="fa fa-download"></i> 导出
            </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('monitor:err:edit')}]];
    var removeFlag = [[${@permission.hasPermi('monitor:err:remove')}]];
    var prefix = ctx + "monitor/err";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "错误日志",
            columns: [{
                checkbox: true
            },
                {
                    field: 'idErrorLog',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'address',
                    title: '地址'
                },
                {
                    field: 'trxId',
                    title: '交易订单'
                },
                {
                    field: 'otherId',
                    title: '其他id'
                },
                {
                    field: 'errorCode',
                    title: '发生场景'
                },
                {
                    field: 'errorMsg',
                    title: '错误信息'
                },
                {
                    field: 'fcd',
                    title: '创建时间'
                }/*,
                {
                    field: 'fcu',
                    title: '创建用户'
                },
                {
                    field: 'lcd',
                    title: '更新时间'
                },
                {
                    field: 'lcu',
                    title: '更新用户'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.idErrorLog + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.idErrorLog + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }*/
                ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>