<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MonitorAddressInfoMapper">

    <resultMap type="MonitorAddressInfo" id="MonitorAddressInfoResult">
        <result property="idMonitorAddress"    column="id_monitor_address"    />
        <result property="busiType"    column="busi_type"    />
        <result property="monitorAddressName"    column="monitor_address_name"    />
        <result property="monitorAddress"    column="monitor_address"    />
        <result property="accountAddress"    column="account_address"    />
        <result property="trxPrice"    column="trx_price"    />
        <result property="usdtPrice"    column="usdt_price"    />
        <result property="monitorType"    column="monitor_type"    />
        <result property="idTgMessageInfo"    column="id_tg_message_info"    />
        <result property="groupChatId"    column="group_chat_id"    />
        <result property="bindPeriod"    column="bind_period"    />
        <result property="isValid"    column="is_valid"    />
        <result property="comment"    column="comment"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="fcd"    column="fcd"    />
        <result property="fcu"    column="fcu"    />
        <result property="lcd"    column="lcd"    />
        <result property="lcu"    column="lcu"    />
    </resultMap>

    <sql id="selectMonitorAddressInfoVo">
        select id_monitor_address, busi_type, monitor_address_name, monitor_address, account_address, trx_price, usdt_price, monitor_type, id_tg_message_info, group_chat_id, bind_period, is_valid, comment,image_url, fcd, fcu, lcd, lcu from monitor_address_info
    </sql>

    <select id="selectMonitorAddressInfoList" parameterType="MonitorAddressInfo" resultMap="MonitorAddressInfoResult">
        <include refid="selectMonitorAddressInfoVo"/>
        <where>
            <if test="busiType != null  and busiType != ''"> and busi_type = #{busiType}</if>
            <if test="monitorAddressName != null  and monitorAddressName != ''"> and monitor_address_name like concat('%', #{monitorAddressName}, '%')</if>
            <if test="monitorAddress != null  and monitorAddress != ''"> and monitor_address = #{monitorAddress}</if>
            <if test="accountAddress != null  and accountAddress != ''"> and account_address = #{accountAddress}</if>
            <if test="trxPrice != null "> and trx_price = #{trxPrice}</if>
            <if test="usdtPrice != null "> and usdt_price = #{usdtPrice}</if>
            <if test="monitorType != null  and monitorType != ''"> and monitor_type = #{monitorType}</if>
           <!-- <if test="apiKey != null  and apiKey != ''"> and api_key = #{apiKey}</if>-->
            <if test="bindPeriod != null  and bindPeriod != ''"> and bind_period = #{bindPeriod}</if>
            <if test="isValid != null  and isValid != ''"> and is_valid = #{isValid}</if>
            <if test="comment != null  and comment != ''"> and comment = #{comment}</if>
            <if test="params.beginFcd != null and params.beginFcd != '' and params.endFcd != null and params.endFcd != ''"> and fcd between #{params.beginFcd} and #{params.endFcd}</if>
            <if test="fcu != null  and fcu != ''"> and fcu = #{fcu}</if>
            <if test="lcd != null "> and lcd = #{lcd}</if>
            <if test="lcu != null  and lcu != ''"> and lcu = #{lcu}</if>
        </where>
    </select>

    <select id="selectMonitorAddressInfoByIdMonitorAddress" parameterType="Long" resultMap="MonitorAddressInfoResult">
        <include refid="selectMonitorAddressInfoVo"/>
        where id_monitor_address = #{idMonitorAddress}
    </select>


    <insert id="insertMonitorAddressInfo" parameterType="MonitorAddressInfo" useGeneratedKeys="true" keyProperty="idMonitorAddress">
        insert into monitor_address_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="busiType != null">busi_type,</if>
            <if test="monitorAddressName != null">monitor_address_name,</if>
            <if test="monitorAddress != null">monitor_address,</if>
            <if test="accountAddress != null">account_address,</if>
            <if test="trxPrice != null">trx_price,</if>
            <if test="usdtPrice != null">usdt_price,</if>
            <if test="monitorType != null">monitor_type,</if>
            <if test="bindPeriod != null">bind_period,</if>
            <if test="isValid != null">is_valid,</if>
            <if test="idTgMessageInfo != null">id_tg_message_info,</if>
            <if test="groupChatId != null">group_chat_id,</if>
            <if test="comment != null">comment,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="fcd != null">fcd,</if>
            <if test="fcu != null">fcu,</if>
            <if test="lcd != null">lcd,</if>
            <if test="lcu != null">lcu,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="busiType != null">#{busiType},</if>
            <if test="monitorAddressName != null">#{monitorAddressName},</if>
            <if test="monitorAddress != null">#{monitorAddress},</if>
            <if test="accountAddress != null">#{accountAddress},</if>
            <if test="trxPrice != null">#{trxPrice},</if>
            <if test="usdtPrice != null">#{usdtPrice},</if>
            <if test="monitorType != null">#{monitorType},</if>
            <if test="bindPeriod != null">#{bindPeriod},</if>
            <if test="isValid != null">#{isValid},</if>
            <if test="idTgMessageInfo != null">#{idTgMessageInfo},</if>
            <if test="groupChatId != null">#{groupChatId},</if>
            <if test="comment != null">#{comment},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="fcd != null">#{fcd},</if>
            <if test="fcu != null">#{fcu},</if>
            <if test="lcd != null">#{lcd},</if>
            <if test="lcu != null">#{lcu},</if>
        </trim>
    </insert>

    <update id="updateMonitorAddressInfo" parameterType="MonitorAddressInfo">
        update monitor_address_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="busiType != null">busi_type = #{busiType},</if>
            <if test="monitorAddressName != null">monitor_address_name = #{monitorAddressName},</if>
            <if test="monitorAddress != null">monitor_address = #{monitorAddress},</if>
            <if test="accountAddress != null">account_address = #{accountAddress},</if>
            <if test="trxPrice != null">trx_price = #{trxPrice},</if>
            <if test="usdtPrice != null">usdt_price = #{usdtPrice},</if>
            <if test="monitorType != null">monitor_type = #{monitorType},</if>
            <if test="bindPeriod != null">bind_period = #{bindPeriod},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            <if test="idTgMessageInfo != null">id_tg_message_info = #{idTgMessageInfo},</if>
            <if test="groupChatId != null">group_chat_id = #{groupChatId},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="fcd != null">fcd = #{fcd},</if>
            <if test="fcu != null">fcu = #{fcu},</if>
            <if test="lcd != null">lcd = #{lcd},</if>
            <if test="lcu != null">lcu = #{lcu},</if>
        </trim>
        where id_monitor_address = #{idMonitorAddress}
    </update>


    <delete id="deleteMonitorAddressInfoByIdMonitorAddress" parameterType="Long">
        delete from monitor_address_info where id_monitor_address = #{idMonitorAddress}
    </delete>

    <delete id="deleteMonitorAddressInfoByIdMonitorAddresss" parameterType="String">
        delete from monitor_address_info where id_monitor_address in
        <foreach item="idMonitorAddress" collection="array" open="(" separator="," close=")">
            #{idMonitorAddress}
        </foreach>
    </delete>

    <resultMap id="selectMonitorAddressAccountResultMap" type="com.ruoyi.system.domain.MonitorAddressAccount">
        <result column="monitor_address" property="monitorAddress"/>
        <result column="account_address" property="accountAddress"/>
        <result column="trx_price" property="trxPrice"/>
        <result column="usdt_price" property="usdtPrice"/>
        <result column="encrypt_private_key" property="encryptPrivateKey"/>
        <result column="encrypt_key" property="encryptKey"/>
        <result column="bind_period" property="bindPeriod"/>
        <result column="id_tg_message_info" property="idTgMessageInfo"/>
        <result column="message_info" property="messageInfo"/>
        <result column="group_chat_id" property="groupChatId"/>
    </resultMap>
    <select id="selectMonitorAddressAccount" parameterType="MonitorAddressInfo"
            resultMap="selectMonitorAddressAccountResultMap">
        SELECT
        m.monitor_address,
        m.account_address,
        m.trx_price,
        m.usdt_price,
        a.encrypt_private_key,
        a.encrypt_key,
        m.bind_period,
        m.id_tg_message_info,
        t.message_info,
        m.group_chat_id
        FROM
        monitor_address_info m
        LEFT JOIN account_address_info a ON m.account_address = a.address
        AND m.is_valid = a.is_valid
        AND m.busi_type = a.busi_type
        LEFT JOIN tg_message_info t ON m.id_tg_message_info = t.id_tg_message_info
        where
           m.busi_type = #{busiType}
          and m.is_valid = #{isValid}
    </select>

</mapper>