<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改USDT交易明细')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-usdt-edit" th:object="${usdtExchangeInfo}">
            <input name="idUsdtExchangeInfo" th:field="*{idUsdtExchangeInfo}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">转入地址：</label>
                <div class="col-sm-8">
                    <input name="fromAddress" th:field="*{fromAddress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">转出地址：</label>
                <div class="col-sm-8">
                    <input name="toAddress" th:field="*{toAddress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">交易订单：</label>
                <div class="col-sm-8">
                    <input name="usdtTxId" th:field="*{usdtTxId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">转入金额：</label>
                <div class="col-sm-8">
                    <input name="usdtAmount" th:field="*{usdtAmount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">转出金额：</label>
                <div class="col-sm-8">
                    <input name="trxAmount" th:field="*{trxAmount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">兑换费率：</label>
                <div class="col-sm-8">
                    <input name="exchangeRate" th:field="*{exchangeRate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">TRX订单：</label>
                <div class="col-sm-8">
                    <input name="trxTxId" th:field="*{trxTxId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">原始费率：</label>
                <div class="col-sm-8">
                    <input name="orginalExchangeRate" th:field="*{orginalExchangeRate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="fcd" th:value="${#dates.format(usdtExchangeInfo.fcd, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建用户：</label>
                <div class="col-sm-8">
                    <input name="fcu" th:field="*{fcu}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">更新时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="lcd" th:value="${#dates.format(usdtExchangeInfo.lcd, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">更新用户：</label>
                <div class="col-sm-8">
                    <input name="lcu" th:field="*{lcu}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "exchange/usdt";
        $("#form-usdt-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-usdt-edit').serialize());
            }
        }

        $("input[name='fcd']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='lcd']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>